<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.redso.backgroundjobdemo">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".service.Wait10IntentService"/>
        <service
            android:name=".service.Wait5JobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name=".service.NetworkCallJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name=".service.StepCounterJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name=".service.LocationJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name=".service.LocationForegroundService"/>

        <service
            android:name=".service.Wait5JobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name=".service.ActionReceiver"/>
        <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>